@model IEnumerable<ShoppingOnline.Models.Products>

@{
    ViewBag.Title = "showproducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>รายการสินค้า</h2>
<table class="table">
    <tr>
        <th>
            ชื่อสินค้า
        </th>
        <th>
           จำนวนสินค้า
        </th>
        <th>
            ราคาสินค้า
        </th>
        <th>
            รายละเอียดสินค้า
        </th>
        <th>
            ประเภทของสินค้า
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorys.CategoryName)
        </td>
        <td>
            @Html.ActionLink("แก้ไข้อมูลสินค้า", "editporduct", new { id = item.ProductID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("ลบสินค้า", "deleteporduct", new { id = item.ProductID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
